body{
    background:linear-gradient(45deg, var(--header), var(--bg));
    display: flex;
    flex-direction: column;
}

main{
    padding: 4rem 10rem;
}

section{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-size: 3.6rem;
}



section h1{
    font-size: 2em ;
    font-family: var(--title-font);
    text-align: center;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(180deg,var(--title-theme) 40%,  var(--Watch-border) 70%);
}

section .circle{
    --circle-size: 280px;
    position: relative;
    background-color: var(--watch-bg);
    width: var(--circle-size);
    height: var(--circle-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &::before{
        content: '';
        position: absolute;
        border-radius: 50%;
        width: calc(var(--circle-size) + 15px);
        height: calc(var(--circle-size) + 15px);
        z-index: -1;
        background: linear-gradient(45deg, var(--Watch-border), var(--title-theme));
        animation: rotateGlowBorder 5s linear infinite;
    }

}

@keyframes rotateGlowBorder {
    0% {
        transform: rotate(0deg);
        filter: blur(20px); /* Adiciona blur inicial */
    }
    50% {
        transform: rotate(180deg);
        filter: blur(5px); /* Adiciona blur máximo no meio */
    }
    100% {
        transform: rotate(360deg);
        filter: blur(20px); /* Retorna ao blur inicial */

    }
}

section .circle span{
    color: var(--watch-numbers);
    font-family: var(--numbers-font);
    cursor:text;
    text-shadow: 0 0 10px var(--watch-numbers), 0 0 20px var(--watch-numbers);
}

section .group-btn{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
}

section .group-btn button{
    background-image: linear-gradient(45deg,var(--title-theme) 30%,  var(--button-bg) 70%);
    color: var(--button-text);
    display: flex;
    justify-content: center;
    align-items: center;

    &:active{
        transform: none;
        box-shadow: none
    }
}

section .group-btn button img{
    width: 30px;
    height: 30px;
}


#timer .circle input{
    width: 42px;
    background-color: transparent;
    border: none;
    color: var(--watch-numbers);
    font-size: 3.6rem;
    text-align: center;
    cursor: text;
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.05) inset;
    border-radius: 5px;
    transition: box-shadow 300ms ease, transform 0.2s ease; 
;
    
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    &:hover{
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.2), 0 0 25px rgba(255, 255, 255, 0.1) inset;
        transform: scale(1.05);

    }
    &:focus{
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.2), 0 0 35px rgba(255, 255, 255, 0.1) inset;
    }
}

#timer .circle p{
    color: var(--watch-numbers);
    padding: 1rem;
}

#time-flag {
    position: absolute;
    left: 250px;
    top: 300px;
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    color: #cccccc;
    max-height: 150px; 
    overflow-y: auto; 
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    transition: max-height 0.3s ease;


    &::-webkit-scrollbar {
        width: 8px; 
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 8px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #cccccc; 
        border-radius: 15px;
        opacity: 0.75;
    
        &:hover {
            opacity: 1;
        }
    }
}

#time-flag p{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
    transition: transform 0.2s ease;
    font-size: 1.6rem;

    &:hover{
        transform: scale(1.05) ;
    }
}













