
:root{

    font-size: 62.5%;
	box-sizing: border-box;

    /* fonts */
    --numbers-font: "Silkscreen", "Orbitron", "Oxanium", sans-serif;
    --title-font: "Share Tech Mono", "Orbitron", "Quantico", monospace;
    --header-font: "Audiowide", "Oxanium", "Orbitron", sans-serif;
    --portifolio-font: "Oxanium", serif;
    --themes-title-font:  "Quantico", sans-serif ;
    --themes-font: "Quantico", cursive;



/* temas */

    /* tema 1 */
    --title-theme1 : #4cc9f0;
    --Watch-border-theme1 : #F72585;
    --watch-numbers-theme1 : #ffd500;
    --button-bg-theme1 : #F72585;
     
    /* tema 2 */
    --title-theme2 : #03045e;
    --Watch-border-theme2 : #0077b6;
    --watch-numbers-theme2 : #ade8f4;
    --button-bg-theme2 : #023e8a;

    /* tema 3 */
    --title-theme3 : #ff758f;
    --Watch-border-theme3 : #ff4d6d;
    --watch-numbers-theme3 : #ffc8dd;
    --button-bg-theme3 : #ff4d6d;

    /* tema 4 */
    --title-theme4 : #009975;
    --Watch-border-theme4 : #00c698;
    --watch-numbers-theme4 : #90e0ef;
    --button-bg-theme4 : #00c698;

    /* tema 5 */
    --title-theme5 : #ffbf69;
    --Watch-border-theme5 : #ff9f1c;
    --watch-numbers-theme5 : #ffe5b4;
    --button-bg-theme5 : #ff9f1c;

    /* tema 6 */
    --title-theme6 : #9a8c98;
    --Watch-border-theme6 : #6a4c93;
    --watch-numbers-theme6 : #c9c1d3;
    --button-bg-theme6 : #6a4c93;


/* cores estáticas */
    --bg : #0e0c14;
    --header :#242E4E;
    --header-text : #ddf8f5;
    --header-active : #05F2D2;
    --button-text : #4cc9f0;
    --watch-bg :#242E4E;

/* cores dinâmicas */
    --title-theme : var(--title-theme1);
    --Watch-border : var(--Watch-border-theme1);
    --watch-numbers: var(--watch-numbers-theme1);
    --button-bg : var(--button-bg-theme1);
}


body{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

section{
    display: none;
    z-index: 1;
}

button{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 500ms;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    
    &:hover{
        transform: translate(-3px, -5px);
        box-shadow: 0 5px 10px ;
        outline: none;
    }

    &:disabled{
        background-color: darkslategray;
        color: whitesmoke;
        cursor: not-allowed;
    }
}

