@custom-variant neon-dreams (&:where([data-theme=neon-dreams], [data-theme=neon-dreams] *));
[data-theme='neon-dreams'] {
  /* Header */
  --Header-bg-color: ;

  --navlink-box-color: ;
  --navlink-box-border: ;
  --navlink-box-shadow: ;
  --navlink-box-hover: ;
  --navlink-box-active: ;
  --navlink-box-visited: ;

  --navlink-text-color: ;
  --navlink-text-shadow: ;
  --navlink-text-hover: ;
  --navlink-text-active: ;
  --navlink-text-visited: ;

  --heading-color: var(--color-purple-heart-800);
  --heading-shadow: 0 5px 10px var(--color-purple-heart-950);

  /* Countdown */
  --countdown-bg: var(--color-scooter-950);
  --countdown-border-1: var(--color-brilliant-rose-600);
  --countdown-border-2: var(--color-orange-peel-100);
  --countdown-color: var(--color-orange-peel-300);
  --countdown-shadow: 0 4px 6px var(--color-blue-marguerite-900);
}

[data-theme='deep-ocean'] {
  --primary: var(--color-blue-500);
  --title-theme2: #03045e;
  --Watch-border-theme2: #0077b6;
  --watch-numbers-theme2: #ade8f4;
  --button-bg-theme2: #023e8a;
}

[data-theme='sakura-blossom'] {
  --primary: var(--color-pink-500);
  --title-theme3: #ff758f;
  --Watch-border-theme3: #ff4d6d;
  --watch-numbers-theme3: #ffc8dd;
  --button-bg-theme3: #ff4d6d;
}

[data-theme='mint-leaves'] {
  --primary: var(--color-green-500);
  --title-theme4: #009975;
  --Watch-border-theme4: #00c698;
  --watch-numbers-theme4: #90e0ef;
  --button-bg-theme4: #00c698;
}

[data-theme='dune-glow'] {
  --primary: var(--color-yellow-500);
  --title-theme5: #ffbf69;
  --Watch-border-theme5: #ff9f1c;
  --watch-numbers-theme5: #ffe5b4;
  --button-bg-theme5: #ff9f1c;
}

[data-theme='overcast'] {
  --primary: var(--color-blue-500);
  --title-theme6: #9a8c98;
  --Watch-border-theme6: #6a4c93;
  --watch-numbers-theme6: #c9c1d3;
  --button-bg-theme6: #6a4c93;
}
