@custom-variant neon-dreams (&:where([data-theme=neon-dreams], [data-theme=neon-dreams] *));
@custom-variant deep-ocean (&:where([data-theme=deep-ocean], [data-theme=deep-ocean] *));
@custom-variant sakura-blossom (&:where([data-theme=sakura-blossom], [data-theme=sakura-blossom] *));
@custom-variant mint-leaves (&:where([data-theme=mint-leaves], [data-theme=mint-leaves] *));
@custom-variant dune-glow (&:where([data-theme=dune-glow], [data-theme=dune-glow] *));
@custom-variant overcast (&:where([data-theme=overcast], [data-theme=overcast] *));
[data-theme='neon-dreams'] {
  /* body */
  --body-bg-color-1: var(--color-shark-950);
  --body-bg-color-2: var(--color-shark-900);
  --body-bg-color-3: var(--color-shark-950);
  --body-bg-color-4: var(--color-shark-900);
  --body-bg-color-5: var(--color-shark-950);

  /* Header */
  --Header-bg-color: transparent;

  --navlink-box-color: transparent;
  --navlink-box-border: transparent;
  --navlink-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --navlink-box-hover: var(--color-aquamarine-700);
  --navlink-box-active: var(--color-aquamarine-400);

  --navlink-text-color: var(--color-aquamarine-400);
  --navlink-text-shadow: 2px 2px 2px var(--color-purple-heart-800);
  --navlink-text-hover: var(--color-aquamarine-700);
  --navlink-text-active: var(--color-aquamarine-400);

  --heading-color: var(--color-purple-heart-800);
  --heading-shadow: 0 5px 10px var(--color-purple-heart-950);

  --logo-text-color: var(--color-gold-500);
  --logo-text-shadow: 1px 1px 4px var(--color-aquamarine-600);

  /* Countdown */
  --countdown-bg: var(--color-shark-950);
  --countdown-border-1: var(--color-rose-500);
  --countdown-border-2: var(--color-rose-500);
  --countdown-border-3: var(--color-seagull-400);
  --countdown-border-4: var(--color-seagull-400);

  --countdown-color: var(--color-gold-500);
  --countdown-shadow: 0 4px 6px var(--color-aquamarine-600);

  --pomodoro-cycleDot-workTime: var(--color-seagull-400);
  --pomodoro-cycleDot-shortBreak: var(--color-gold-500);
  --pomodoro-cycleDot-longBreak: var(--color-rose-500);

}



[data-theme='deep-ocean'] {
  --primary: var(--color-blue-500);
  --title-theme2: #03045e;
  --Watch-border-theme2: #0077b6;
  --watch-numbers-theme2: #ade8f4;
  --button-bg-theme2: #023e8a;
}

[data-theme='sakura-blossom'] {
  --primary: var(--color-pink-500);
  --title-theme3: #ff758f;
  --Watch-border-theme3: #ff4d6d;
  --watch-numbers-theme3: #ffc8dd;
  --button-bg-theme3: #ff4d6d;
}

[data-theme='mint-leaves'] {
  --primary: var(--color-green-500);
  --title-theme4: #009975;
  --Watch-border-theme4: #00c698;
  --watch-numbers-theme4: #90e0ef;
  --button-bg-theme4: #00c698;
}

[data-theme='dune-glow'] {
  --primary: var(--color-yellow-500);
  --title-theme5: #ffbf69;
  --Watch-border-theme5: #ff9f1c;
  --watch-numbers-theme5: #ffe5b4;
  --button-bg-theme5: #ff9f1c;
}

[data-theme='overcast'] {
  --primary: var(--color-blue-500);
  --title-theme6: #9a8c98;
  --Watch-border-theme6: #6a4c93;
  --watch-numbers-theme6: #c9c1d3;
  --button-bg-theme6: #6a4c93;
}
