@import './styles/animations.css';
@import './styles/global.css';
@import './styles/themes.css';

@import 'tailwindcss';

@plugin "daisyui" {
  themes: dark --default;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(
    45deg,
    var(--body-bg-color-1) 0%,
    var(--body-bg-color-2) 25%,
    var(--body-bg-color-3) 50%,
    var(--body-bg-color-4) 75%,
    var(--body-bg-color-5) 100%
  );
  background-color: var(--body-bg-color-1);
  animation: gradient 5s ease infinite;
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@theme {
  --breakpoint-small-mobile: 320px;
  --breakpoint-mobile: 400px;
  --breakpoint-large-mobile: 480px;
  --breakpoint-small-tablet: 560px;
  --breakpoint-tablet: 640px;
  --breakpoint-large-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
  --breakpoint-widescreen: 1920px;
}
