@import './styles/animations.css';
@import './styles/global.css';
@import './styles/themes.css';

@import 'tailwindcss';
body {
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  position: relative;
}

main {
  position: absolute;
  z-index: -100;
}
